<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2016-12-29T06:54:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-01-12T11:35:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-01-28T00:08:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-02-11T00:34:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-02-26T15:00:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-03-12T14:55:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-03-28T01:59:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-04-11T05:09:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-04-26T11:18:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-05-10T20:44:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-05-25T18:46:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-06-09T12:11:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-06-24T01:33:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-07-09T03:09:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-07-23T08:47:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-08-07T17:13:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-08-21T17:32:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-09-06T06:05:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-09-20T04:31:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-10-05T17:42:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-10-19T18:13:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-11-04T05:24:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-11-18T11:43:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2017-12-03T15:49:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2017-12-18T06:31:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2018-01-02T02:25:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>2</integer>
		<key>MoonDate</key>
		<date>2018-01-17T02:18:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
	<dict>
		<key>Type</key>
		<integer>1</integer>
		<key>MoonDate</key>
		<date>2018-01-31T13:28:00Z</date>
		<key>JournalText</key>
		<string></string>
		<key>Released</key>
		<false/>
	</dict>
</array>
</plist>
